<div class="app-download">
  <h1 class="mat-display-1">Téléchargez Dendro3</h1>
  <p class="mat-body">Cliquez sur le bouton ci-dessous pour télécharger et installer notre application.</p>
  
  <!-- Show loader if downloading -->
  <div *ngIf="loading" class="loader">Téléchargement en cours...</div>
  
  <!-- Download button -->
  <button mat-raised-button matTooltip="Télécharger Dendro3" (click)="downloadDendro()" [disabled]="loading">
    <mat-icon>install_mobile</mat-icon> Télécharger
  </button>
</div>
