
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h2 class="underlined">Protocole de Suivi Dendrométrique des Réserves Forestières</h2>
        <div class="dispositifs-intro">
          <p>Ceci est un texte d'introduction.</p>
        </div>
        <div class="dispositifs-nbre" *ngIf="stats">
          <p><strong>{{stats.nb_dispositifs | formatnum}} dispositifs sur {{stats.nb_cycles}} cycles de mesures.</strong></p>
        </div>
        <div class="card-deck dispositifs-stats-cycles" *ngIf="stats">
          <div class="card" *ngFor="let cycle of stats.cycles | keyvalue">
              <div class="card-header">
                <h3>Cycle {{cycle.key}}</h3>
              </div>
              <div class="card-body stats-content">
                <p><span class="fa fa-square"></span> {{cycle.value.nb_placettes | formatnum}} placettes</p>
                <p><span class="fa fa-tree"></span> {{cycle.value.nb_arbres | formatnum}} arbres mesurés</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
        <div class="col-sm-7">
            <pnx-map-list idName="id_dispositif" id="dispositifs-map-list" height="80vh">
            </pnx-map-list>
        </div>

        <div class="col-sm-5">
          <ngx-datatable #table class="material striped margin-top-xs table-size expandable" [rows]="mapListService.tableData"
              [columns]="mapListService.displayColumns" [loadingIndicator]="mapListService.isLoading" [columnMode]="'force'"
              [headerHeight]="35" [footerHeight]="40" [rowHeight]="40" [draggable]="false" [selected]="mapListService.selectedRow"
              [externalPaging]="false" [scrollbarH]="false" [selectionType]="'single'" [count]="mapListService.page.totalElements"
              [limit]="20" [rowClass]="mapListService.getRowClass"
              [messages]="" (select)="onRowSelect($event)">

                <!-- ACTION COLUMNS -->

          <ngx-datatable-column maxWidth="10">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button class="btn btn-outline-shadow btn-no-padding btn-ghost" [disabled]="!row.rights.R" (click)="onDetailDispositif(row[mapListService.idName])">
                <i [ngClass]="{'disabled' : !row.rights.R}" matTooltip="{{ 'Dispositif.Info' | translate }} {{row[mapListService.idName]}}"
                  class="fa fa-info-circle" aria-hidden="true"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column maxWidth="10">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button class="btn btn-outline-shadow btn-no-padding btn-ghost" [disabled]="!row.rights.D" (click)="openDeleteModal($event, modalConfirm, iElement, row)">
                <i [ngClass]="{'disabled' : !row.rights.D}" #iElement matTooltip="{{ 'Dispositif.Delete' | translate }} {{row[mapListService.idName]}}"
                  class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>


          <!-- DATA COLUMNS -->
          <span *ngFor="let col of mapListService.displayColumns" >
                <ngx-datatable-column  [name]="col.name " [prop]="col.prop">
                </ngx-datatable-column>
          </span>
        </ngx-datatable>

      </div>
      </div>
      </div>


    </div>
</div>