.dispositifs-nbre {
    text-align: center;
    font-size: 150%;
}

.stats-content {
    font-size: 130%;
    .fa {
        color: green;
    }
}

.small-icon-button {
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
    .mat-icon {
        width: 14px !important;
        height: 14px !important;
        line-height: 14px !important;
    }
    .material-icons {
        font-size: 14px !important;
    }
}

button {
    // Add margin-right to mat-icon children of button
    mat-icon {
        margin-right: 0;
    }
}