<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div *ngIf="!editing" >
        <h2>Dispositif : {{dispositif.name}} <a (click)="onEditDispositif()"><span class="fa fa-edit"> </span></a></h2>
        <p>Organisme : {{ dispositif.organisme ? dispositif.organisme.nom_organisme : "&lt;inconnu&gt;"  }}</p>
        <p>{{ mapListService.tableData?.length }} placettes</p>
        <div class="container">
          <div class="card-deck">
            <div class="card" *ngFor="let strate of dispositif.strates">
              <div class="card-header">Strate {{ strate.strate }}</div>
              <div class="card-body">{{ strate.nb | formatnum }} arbres</div>
            </div>
          </div>
        </div>

      </div>
      <div class="description" *ngIf="editing">
        <rnf-psdrf-form-dispositif [dispositif]="dispositif"
          (saved)="onDispositifSaved($event)"
          (canceled)="onDispositifFormCanceled($event)">
        </rnf-psdrf-form-dispositif>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row" id="map-list-placettes">
        <div class="col-sm-9">
            <pnx-map-list idName="id_placette" id="placettes-map-list" height="85vh">
            </pnx-map-list>
        </div>

        <div class="col-sm-3">
          <h3>Placettes</h3>

          <ngx-datatable #table class="material striped margin-top-xs table-size expandable" [rows]="mapListService.tableData"
              [columns]="mapListService.displayColumns" [loadingIndicator]="mapListService.isLoading" [columnMode]="'force'"
              [headerHeight]="35" [footerHeight]="40" [rowHeight]="40" [draggable]="false" [selected]="mapListService.selectedRow"
              [externalPaging]="false" [scrollbarH]="false" [selectionType]="'single'" [count]="mapListService.page.totalElements"
              [limit]="20" [rowClass]="mapListService.getRowClass"
              [messages]="" (select)="onRowSelect($event)">

            <!-- DATA COLUMNS -->
            <span *ngFor="let col of mapListService.displayColumns" >
              <ngx-datatable-column  [name]="col.name " [prop]="col.prop">
              </ngx-datatable-column>
            </span>
          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>

</div>