h2 .fa {
    font-size: 60%;
}

#map-list-placettes {
    margin-top: 10px;
}

.spinner-button {
    align-items: center;
    justify-content: center;
    height: 35px;
}

.action-button-class {
    margin: 4px 8px;
}