@import '../../../styles/styles.scss';

.importzone {
    width: 600px;
    height: 85vh;
    padding: 2rem;
    text-align: center;
    position: relative; 
    margin: 0 auto;

    input {
        opacity: 0;
        position: absolute; 
        z-index: 2;
        top: 0;
        left: 0;
    }

    label {
        color: white;
        width: 300px;
        height: 44px;
        border-radius: 21.5px;
        background-color: #598979;
        padding: 8px 16px;
    }

    h3 {
        font-size: 20px;
        font-weight: 600; 
        color: #38424c
    }
}


.single-file {
    display: flex;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    width:500px;

    img.delete {
    margin-left: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
    }

    .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
    }

    .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
    }

    .info {
    width: 100%
    }
}

table {
    width: 100%;
}

.mat-tab-group {
    border: 2mm ridge rgba(89, 137, 121, .6);
    background: #BAD2CA;
}

.mat-header-row{
    background: #DCE8E4;
}

// .mat-primary {
//     background-color: #598979;
// }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: rgba(149, 165, 166,0.3);
     height: 35px;
     border-radius: 100px;
     margin-bottom: 5px;
 } 


.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(127, 127, 127, 0.15);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .isError {
    background-color: $error-color;
  }

  .isSelectedError {
    //background-color: #ffa600;
    border: 2px dashed #000000;
    font-weight: bold;
  }

  .isModifiedError {
    background-color: $corrified-color;
}