@import '../../../../../styles/styles.scss';

.select-form {
    min-width: 50px;
    max-width: 500px;
    width: 100%;
  }
  
.isError {
  background-color: $error-color;
}

.isSelected {
  //background-color: #ffa600;
  border: 2px dashed #000000;
  font-weight: bold;
}

.wasModified {
  background-color: $corrified-color;
}