$corrified-color: #8AAC3E;
$error-color: #BE7600;
$dark-green: #598979;
tr.mat-row,
tr.mat-header-row {
    height: 35px;
}

::ng-deep .mat-horizontal-content-container {
    padding: 10px !important;
}

::ng-deep .mat-sidenav {
    width: 800px;
}